In [8]:
# ==============================
# 1. Import Library
# ==============================
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Optional: miceforest (hanya jika ingin imputasi model)
try:
    import miceforest as mf
    MICE_AVAILABLE = True
except ImportError:
    MICE_AVAILABLE = False
    print("Library miceforest belum diinstal. Lewati tahap imputasi model ini.")


# ==============================
# 2. Load Dataset
# ==============================
features = pd.read_csv("features.csv")
labels = pd.read_csv("labels.csv")

print("Data features.csv dan labels.csv berhasil dimuat.\n")

print("=== Features (5 baris pertama) ===")
display(features.head())
print("\n=== Labels (5 baris pertama) ===")
display(labels.head())


# ==============================
# 3. Penjelasan Kolom
# ==============================
print("\nDeskripsi Kolom Features:")
print(features.info())

print("\nDeskripsi Kolom Labels:")
print(labels.info())


# ==============================
# 4. Agregasi antara features dan labels
# ==============================
# Gabungkan berdasarkan kolom yang sama (jika ada)
common_cols = set(features.columns).intersection(labels.columns)
if common_cols:
    key = list(common_cols)[0]
    data = pd.merge(features, labels, on=key, how="inner")
    print(f"Data berhasil digabung berdasarkan kolom '{key}'.")
else:
    data = pd.concat([features.reset_index(drop=True),
                      labels.reset_index(drop=True)], axis=1)
    print("Tidak ada kolom kunci yang sama. Data digabung berdasarkan index.")

print("\nData Gabungan (5 baris pertama):")
display(data.head())


# ==============================
# 5. Tipe Data Setiap Kolom
# ==============================
print("\nTipe data setiap kolom:")
print(data.dtypes)


# ==============================
# 6. Statistik Deskriptif
# ==============================
print("\nStatistik deskriptif untuk kolom numerik:")
display(data.describe(include=[np.number]).T)

print("\nStatistik deskriptif untuk kolom kategorikal:")
display(data.describe(include=[object]).T)

print("\nAnalisis singkat:")
print("- Statistik deskriptif menunjukkan nilai mean, std, dan quartile untuk memahami distribusi data.")
print("- Perhatikan nilai minimum, maksimum, serta kemungkinan adanya data kosong atau outlier.")


# ==============================
# 7. Slicing Data
# ==============================
print("\n20 baris pertama:")
display(data.head(20))

print("\n20 baris terakhir:")
display(data.tail(20))

if len(data) > 100:
    print("\nBaris index 80 - 100:")
    display(data.iloc[80:101])
else:
    print("\nDataset memiliki kurang dari 100 baris, tidak dapat menampilkan index 80â€“100.")


# ==============================
# 8. Tangani Nilai Hilang (NaN)
# ==============================
print("\nJumlah nilai hilang sebelum imputasi:")
print(data.isnull().sum())

# Pisahkan kolom numerik dan kategorikal
num_cols = data.select_dtypes(include=[np.number]).columns
obj_cols = data.select_dtypes(include=['object']).columns

# Imputasi numerik (gunakan median / mean / mode)
imputer_num = SimpleImputer(strategy='median')
data[num_cols] = imputer_num.fit_transform(data[num_cols])

# Imputasi kategorikal (gunakan modus)
for col in obj_cols:
    mode_value = data[col].mode()[0]
    data[col] = data[col].fillna(mode_value)

print("\nJumlah nilai hilang setelah imputasi:")
print(data.isnull().sum())


# ==============================
# 9. Encoding (opsional)
# ==============================
use_encoding = "label"  # ubah ke 'onehot' jika ingin OneHotEncoder

if use_encoding == "label":
    print("\nMenggunakan LabelEncoder untuk kolom kategorikal.")
    le = LabelEncoder()
    for col in obj_cols:
        data[col] = le.fit_transform(data[col].astype(str))
elif use_encoding == "onehot":
    print("\nMenggunakan OneHotEncoder untuk kolom kategorikal.")
    data = pd.get_dummies(data, columns=obj_cols)

print("\nContoh hasil setelah encoding:")
display(data.head())


# ==============================
# 10. Hasil Akhir Dataset
# ==============================
print("\nDataset akhir setelah preprocessing:")
display(data.head())

# Simpan hasil ke file CSV
data.to_csv("preprocessed_output.csv", index=False)
print("\nFile hasil preprocessing disimpan sebagai preprocessed_output.csv")

Library miceforest belum diinstal. Lewati tahap imputasi model ini.
Data features.csv dan labels.csv berhasil dimuat.

=== Features (5 baris pertama) ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,0.0,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79

=== Labels (5 baris pertama) ===

     Target
0  Graduate
1  Graduate
2  Graduate
3  Graduate
4   Dropout

Deskripsi Kolom Features:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 38 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      3096 non-null   int64
 1   Student Id                                      3096 non-null   int64
 2   Marital status                                  3012 non-null   object
 3   Application mode                                2924 non-null   float64
 4   Application order                               2988 non-null   float64
 5   Course                                          2944 non-null   float64
 6   Daytime/evening attendance	                     3016 non-null   object
 7   Previous qualification                          2973 non-null   float64
 8   Previous qualification (grade)                  3011 non-null   float64
 9   Nacionality                                     2911 non-null   object
 10  Mother's qualification                          2951 non-null   float64
 11  Father's qualification                          3000 non-null   float64
 12  Mother's occupation                             3034 non-null   float64
 13  Father's occupation                             2952 non-null   float64
 14  Admission grade                                 2955 non-null   float64
 15  Displaced                                       2974 non-null   float64
 16  Educational special needs                       2977 non-null   float64
 17  Debtor                                          2980 non-null   float64
 18  Tuition fees up to date                         2940 non-null   float64
 19  Gender                                          2894 non-null   float64
 20  Scholarship holder                              2930 non-null   float64
 21  Age at enrollment                               2892 non-null   float64
 22  International                                   2995 non-null   float64
 23  Curricular units 1st sem (credited)             2888 non-null   float64
 24  Curricular units 1st sem (enrolled)             2953 non-null   float64
 25  Curricular units 1st sem (evaluations)          3029 non-null   float64
 26  Curricular units 1st sem (approved)             2912 non-null   float64
 27  Curricular units 1st sem (grade)                3007 non-null   float64
 28  Curricular units 1st sem (without evaluations)  3023 non-null   float64
 29  Curricular units 2nd sem (credited)             3035 non-null   float64
 30  Curricular units 2nd sem (enrolled)             2997 non-null   float64
 31  Curricular units 2nd sem (evaluations)          2889 non-null   float64
 32  Curricular units 2nd sem (approved)             2945 non-null   float64
 33  Curricular units 2nd sem (grade)                3021 non-null   float64
 34  Curricular units 2nd sem (without evaluations)  2943 non-null   float64
 35  Unemployment rate                               2960 non-null   float64
 36  Inflation rate                                  2929 non-null   float64
 37  GDP                                             3032 non-null   float64
dtypes: float64(33), int64(2), object(3)
memory usage: 919.3+ KB
None

Deskripsi Kolom Labels:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Target  3096 non-null   object
dtypes: object(1)
memory usage: 24.3+ KB
None
Tidak ada kolom kunci yang sama. Data digabung berdasarkan index.

Data Gabungan (5 baris pertama):

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout

Tipe data setiap kolom:
Unnamed: 0                                          int64
Student Id                                          int64
Marital status                                     object
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance\t                       object
Previous qualification                            float64
Previous qualification (grade)                    float64
Nacionality                                        object
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Admission grade                                   float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Gender                                            float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

Statistik deskriptif untuk kolom numerik:

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,3096.0,1547.500000,893.882543,0.00,773.75,1547.500000,2321.250000,3095.000000
Student Id,3096.0,5470.623062,2582.483019,1000.00,3288.50,5441.500000,7712.250000,9997.000000
Application mode,2924.0,18.785568,17.532674,1.00,1.00,17.000000,39.000000,53.000000
Application order,2988.0,1.734940,1.327527,1.00,1.00,1.000000,2.000000,9.000000
Course,2944.0,8817.929348,2148.407432,33.00,9085.00,9238.000000,9556.000000,9991.000000
Previous qualification,2973.0,4.685503,10.439709,1.00,1.00,1.000000,1.000000,43.000000
Previous qualification (grade),3011.0,132.647293,13.322662,95.00,124.00,133.100000,140.000000,190.000000
Mother's qualification,2951.0,19.470010,15.636952,1.00,2.00,19.000000,37.000000,44.000000
Father's qualification,3000.0,22.408667,15.291008,1.00,3.00,19.000000,37.000000,44.000000
Mother's occupation,3034.0,11.495715,28.173386,0.00,4.00,5.000000,9.000000,194.000000
Father's occupation,2952.0,11.597900,26.799023,0.00,4.00,7.000000,9.000000,195.000000
Admission grade,2955.0,126.902876,14.460283,95.00,118.00,125.900000,134.600000,190.000000
Displaced,2974.0,0.546066,0.497957,0.00,0.00,1.000000,1.000000,1.000000
Educational special needs,2977.0,0.010749,0.103136,0.00,0.00,0.000000,0.000000,1.000000
Debtor,2980.0,0.117450,0.322009,0.00,0.00,0.000000,0.000000,1.000000
Tuition fees up to date,2940.0,0.880612,0.324299,0.00,1.00,1.000000,1.000000,1.000000
Gender,2894.0,0.350726,0.477280,0.00,0.00,0.000000,1.000000,1.000000
Scholarship holder,2930.0,0.246416,0.430997,0.00,0.00,0.000000,0.000000,1.000000
Age at enrollment,2892.0,23.310166,7.697740,17.00,19.00,20.000000,25.000000,70.000000
International,2995.0,0.025042,0.156278,0.00,0.00,0.000000,0.000000,1.000000
Curricular units 1st sem (credited),2888.0,0.698407,2.333794,0.00,0.00,0.000000,0.000000,20.000000
Curricular units 1st sem (enrolled),2953.0,6.251270,2.453467,0.00,5.00,6.000000,7.000000,23.000000
Curricular units 1st sem (evaluations),3029.0,8.233080,4.119638,0.00,6.00,8.000000,10.000000,45.000000
Curricular units 1st sem (approved),2912.0,4.732143,3.044222,0.00,3.00,5.000000,6.000000,21.000000
Curricular units 1st sem (grade),3007.0,10.692416,4.816427,0.00,11.00,12.333333,13.400000,18.875000
Curricular units 1st sem (without evaluations),3023.0,0.133311,0.666707,0.00,0.00,0.000000,0.000000,10.000000
Curricular units 2nd sem (credited),3035.0,0.516639,1.840537,0.00,0.00,0.000000,0.000000,19.000000
Curricular units 2nd sem (enrolled),2997.0,6.208876,2.185127,0.00,5.00,6.000000,7.000000,23.000000
Curricular units 2nd sem (evaluations),2889.0,8.061613,3.942850,0.00,6.00,8.000000,10.000000,27.000000
Curricular units 2nd sem (approved),2945.0,4.422411,2.982200,0.00,2.00,5.000000,6.000000,20.000000
Curricular units 2nd sem (grade),3021.0,10.275115,5.177672,0.00,10.80,12.250000,13.333333,18.571429
Curricular units 2nd sem (without evaluations),2943.0,0.139314,0.709478,0.00,0.00,0.000000,0.000000,12.000000
Unemployment rate,2960.0,11.549561,2.651675,7.60,9.40,11.100000,13.900000,16.200000
Inflation rate,2929.0,1.215534,1.377709,-0.80,0.30,1.400000,2.600000,3.700000
GDP,3032.0,0.028278,2.273157,-4.06,-1.70,0.320000,1.790000,3.510000

Statistik deskriptif untuk kolom kategorikal:

                             count unique         top  freq
Marital status                3012      6      single  2674
Daytime/evening attendance\t  3016      2         day  2701
Nacionality                   2911     19  Portuguese  2836
Target                        3096      3    Graduate  1546

Analisis singkat:
- Statistik deskriptif menunjukkan nilai mean, std, dan quartile untuk memahami distribusi data.
- Perhatikan nilai minimum, maksimum, serta kemungkinan adanya data kosong atau outlier.

20 baris pertama:

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout
5,5,3544,married,39.0,1.0,9853.0,day,1.0,NaN,Portuguese,...,0.0,7.0,10.0,3.0,13.000000,0.0,11.1,0.6,2.02,Dropout
6,6,4956,single,39.0,1.0,9085.0,day,1.0,133.1,NaN,...,0.0,6.0,14.0,4.0,12.000000,0.0,11.1,0.6,2.02,Dropout
7,7,6758,single,1.0,4.0,9670.0,day,1.0,130.0,Portuguese,...,0.0,6.0,7.0,6.0,13.428571,0.0,8.9,1.4,3.51,Enrolled
8,8,2484,single,1.0,1.0,9773.0,day,1.0,135.0,Portuguese,...,0.0,6.0,7.0,6.0,12.166667,0.0,11.1,0.6,2.02,Graduate
9,9,9845,single,39.0,1.0,9670.0,day,1.0,120.0,Portuguese,...,0.0,5.0,8.0,4.0,11.250000,0.0,7.6,2.6,0.32,Dropout
10,10,3690,single,1.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,9.4,-0.8,-3.12,Dropout
11,11,2585,single,1.0,1.0,9070.0,day,1.0,117.0,Portuguese,...,0.0,6.0,NaN,4.0,10.750000,2.0,NaN,NaN,-0.92,Graduate
12,12,5241,single,1.0,1.0,171.0,day,1.0,162.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.7,3.7,-1.70,Dropout
13,13,2972,single,1.0,3.0,9500.0,day,1.0,135.0,Portuguese,...,0.0,8.0,11.0,NaN,13.258571,0.0,NaN,1.4,1.74,Graduate
14,14,2003,married,39.0,1.0,8014.0,NaN,NaN,120.0,Portuguese,...,0.0,NaN,8.0,6.0,12.857143,0.0,12.4,0.5,1.79,Graduate
15,15,3007,single,7.0,1.0,9119.0,day,1.0,140.8,Portuguese,...,0.0,5.0,0.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
16,16,9857,single,17.0,1.0,9119.0,day,1.0,132.0,Portuguese,...,0.0,5.0,5.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
17,17,3327,single,NaN,1.0,9003.0,day,19.0,133.1,Portuguese,...,0.0,6.0,16.0,3.0,13.333333,0.0,11.1,0.6,2.02,Dropout
18,18,5235,single,17.0,1.0,171.0,day,1.0,NaN,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74,Dropout
19,19,3969,single,1.0,1.0,9085.0,day,1.0,111.0,Portuguese,...,0.0,6.0,12.0,NaN,13.666667,0.0,11.1,0.6,2.02,Graduate

20 baris terakhir:

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
3076,3076,6757,single,17.0,NaN,9254.0,day,1.0,122.0,Portuguese,...,0.0,6.0,11.0,3.0,11.333333,0.0,7.6,2.6,0.32,Enrolled
3077,3077,5750,single,1.0,2.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,8.0,8.0,13.881250,0.0,9.4,-0.8,-3.12,Graduate
3078,3078,2599,single,1.0,1.0,9085.0,day,1.0,131.0,Portuguese,...,0.0,5.0,5.0,NaN,12.800000,0.0,10.8,1.4,1.74,Graduate
3079,3079,3249,single,17.0,1.0,9238.0,day,1.0,120.0,Portuguese,...,0.0,6.0,13.0,2.0,10.666667,0.0,16.2,0.3,-0.92,Dropout
3080,3080,3366,divorced,39.0,1.0,9003.0,day,12.0,133.1,Portuguese,...,10.0,13.0,14.0,13.0,14.230769,NaN,15.5,2.8,-4.06,Graduate
3081,3081,3462,single,39.0,1.0,171.0,day,1.0,147.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,16.2,0.3,-0.92,Dropout
3082,3082,9194,single,17.0,5.0,9147.0,day,1.0,131.0,Portuguese,...,0.0,5.0,11.0,5.0,11.400000,4.0,16.2,NaN,-0.92,Graduate
3083,3083,5574,single,1.0,1.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,11.0,8.0,14.881818,0.0,16.2,0.3,-0.92,Graduate
3084,3084,8311,single,1.0,2.0,9773.0,day,1.0,130.0,Portuguese,...,0.0,6.0,6.0,6.0,12.333333,0.0,12.4,0.5,1.79,Graduate
3085,3085,2304,single,17.0,1.0,9238.0,day,NaN,139.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,0.0,15.5,2.8,-4.06,Graduate
3086,3086,6615,single,43.0,1.0,9556.0,day,1.0,149.0,Portuguese,...,0.0,8.0,8.0,8.0,12.625000,0.0,12.7,3.7,-1.70,Enrolled
3087,3087,3759,single,1.0,1.0,171.0,day,3.0,116.0,Portuguese,...,14.0,17.0,18.0,17.0,11.500000,0.0,11.1,0.6,2.02,Graduate
3088,3088,8085,single,51.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,6.0,12.0,5.0,13.666667,0.0,11.1,0.6,2.02,Dropout
3089,3089,1573,single,17.0,2.0,171.0,day,1.0,142.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Graduate
3090,3090,9737,single,51.0,1.0,9070.0,day,1.0,143.0,Portuguese,...,5.0,11.0,11.0,10.0,11.400000,0.0,11.1,0.6,2.02,Dropout
3091,3091,6176,single,44.0,1.0,9085.0,day,1.0,140.0,Portuguese,...,1.0,6.0,9.0,4.0,11.500000,0.0,13.9,-0.3,0.79,Graduate
3092,3092,8064,single,1.0,5.0,9238.0,day,1.0,126.0,Portuguese,...,0.0,6.0,13.0,3.0,11.000000,0.0,9.4,-0.8,-3.12,Graduate
3093,3093,2103,single,1.0,2.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,8.0,8.0,14.272500,0.0,15.5,2.8,-4.06,Graduate
3094,3094,8629,single,39.0,1.0,9500.0,day,4.0,150.0,Portuguese,...,2.0,8.0,NaN,7.0,13.306250,0.0,11.1,0.6,2.02,Dropout
3095,3095,6614,single,17.0,1.0,9670.0,day,1.0,118.0,Portuguese,...,0.0,6.0,6.0,6.0,14.000000,0.0,12.4,0.5,1.79,Graduate

Baris index 80 - 100:

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
80,80,1238,single,17.0,1.0,9670.0,day,1.0,155.0,Portuguese,...,NaN,6.0,10.0,4.0,13.000000,0.0,12.7,3.7,-1.70,Enrolled
81,81,4121,single,39.0,1.0,9003.0,day,1.0,NaN,Portuguese,...,0.0,NaN,8.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Dropout
82,82,2890,single,1.0,1.0,171.0,day,1.0,159.0,NaN,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,NaN,1.79,Dropout
83,83,4358,single,1.0,1.0,9147.0,day,1.0,150.0,Ukrainian,...,0.0,5.0,7.0,5.0,13.000000,0.0,9.4,-0.8,-3.12,Graduate
84,84,4896,single,NaN,1.0,9991.0,evening,1.0,140.0,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,15.5,2.8,-4.06,Dropout
85,85,4735,single,18.0,1.0,9500.0,day,1.0,144.0,Portuguese,...,NaN,8.0,8.0,7.0,13.542857,0.0,12.7,3.7,-1.70,Graduate
86,86,1047,single,1.0,1.0,9773.0,day,1.0,117.0,Portuguese,...,0.0,6.0,11.0,3.0,13.000000,0.0,15.5,2.8,-4.06,Graduate
87,87,7430,single,39.0,2.0,9556.0,day,19.0,133.1,Portuguese,...,0.0,8.0,9.0,8.0,11.962500,0.0,13.9,-0.3,0.79,Graduate
88,88,8527,single,1.0,2.0,9500.0,day,1.0,145.0,Portuguese,...,0.0,7.0,7.0,6.0,12.950000,0.0,7.6,2.6,0.32,Graduate
89,89,5420,single,43.0,1.0,NaN,day,1.0,121.0,Portuguese,...,0.0,6.0,8.0,4.0,11.250000,0.0,9.4,NaN,-3.12,Enrolled
90,90,5625,single,44.0,1.0,9003.0,day,39.0,140.0,Portuguese,...,0.0,6.0,7.0,5.0,12.600000,0.0,12.4,0.5,1.79,Graduate
91,91,8990,NaN,1.0,1.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,NaN,8.0,12.860000,2.0,9.4,-0.8,-3.12,Graduate
92,92,9143,married,44.0,1.0,9085.0,day,39.0,160.0,Portuguese,...,0.0,5.0,8.0,5.0,12.000000,1.0,9.4,-0.8,-3.12,Graduate
93,93,1944,married,7.0,1.0,9070.0,day,43.0,140.0,Portuguese,...,0.0,6.0,8.0,3.0,11.000000,0.0,11.1,0.6,2.02,Graduate
94,94,3666,single,1.0,3.0,9070.0,day,1.0,125.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,NaN,11.1,0.6,2.02,Enrolled
95,95,6960,single,17.0,3.0,9119.0,day,1.0,130.0,Portuguese,...,0.0,5.0,5.0,5.0,14.200000,0.0,8.9,1.4,NaN,Graduate
96,96,7620,single,1.0,1.0,9500.0,day,1.0,157.0,Portuguese,...,0.0,8.0,8.0,8.0,14.035000,0.0,9.4,-0.8,-3.12,Graduate
97,97,6083,single,42.0,1.0,9500.0,day,1.0,150.0,NaN,...,6.0,14.0,20.0,14.0,13.072857,NaN,9.4,-0.8,-3.12,Graduate
98,98,5525,single,17.0,5.0,9238.0,day,1.0,130.0,NaN,...,0.0,6.0,15.0,3.0,10.000000,0.0,9.4,-0.8,-3.12,Enrolled
99,99,6029,single,17.0,1.0,9773.0,day,1.0,136.0,Portuguese,...,0.0,6.0,6.0,6.0,13.166667,0.0,12.7,3.7,-1.70,Graduate
100,100,9749,single,39.0,1.0,9085.0,day,1.0,110.0,Portuguese,...,3.0,7.0,7.0,3.0,11.666667,0.0,8.9,1.4,3.51,Dropout

Jumlah nilai hilang sebelum imputasi:
Unnamed: 0                                          0
Student Id                                          0
Marital status                                     84
Application mode                                  172
Application order                                 108
Course                                            152
Daytime/evening attendance\t                       80
Previous qualification                            123
Previous qualification (grade)                     85
Nacionality                                       185
Mother's qualification                            145
Father's qualification                             96
Mother's occupation                                62
Father's occupation                               144
Admission grade                                   141
Displaced                                         122
Educational special needs                         119
Debtor                                            116
Tuition fees up to date                           156
Gender                                            202
Scholarship holder                                166
Age at enrollment                                 204
International                                     101
Curricular units 1st sem (credited)               208
Curricular units 1st sem (enrolled)               143
Curricular units 1st sem (evaluations)             67
Curricular units 1st sem (approved)               184
Curricular units 1st sem (grade)                   89
Curricular units 1st sem (without evaluations)     73
Curricular units 2nd sem (credited)                61
Curricular units 2nd sem (enrolled)                99
Curricular units 2nd sem (evaluations)            207
Curricular units 2nd sem (approved)               151
Curricular units 2nd sem (grade)                   75
Curricular units 2nd sem (without evaluations)    153
Unemployment rate                                 136
Inflation rate                                    167
GDP                                                64
Target                                              0
dtype: int64

Jumlah nilai hilang setelah imputasi:
Unnamed: 0                                        0
Student Id                                        0
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

Menggunakan LabelEncoder untuk kolom kategorikal.

Contoh hasil setelah encoding:

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0.0,6634.0,4,1.0,3.0,9773.0,0,1.0,133.1,13,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,2
1,1.0,6459.0,4,1.0,1.0,9238.0,0,1.0,136.0,13,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,2
2,2.0,2238.0,4,42.0,1.0,9500.0,0,1.0,120.0,13,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,2
3,3.0,2479.0,4,1.0,1.0,9238.0,0,1.0,141.0,13,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,2
4,4.0,4260.0,4,44.0,1.0,9238.0,0,39.0,120.0,17,...,1.0,6.0,8.0,3.0,12.000000,0.0,12.4,0.5,1.79,0

Dataset akhir setelah preprocessing:

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0.0,6634.0,4,1.0,3.0,9773.0,0,1.0,133.1,13,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,2
1,1.0,6459.0,4,1.0,1.0,9238.0,0,1.0,136.0,13,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,2
2,2.0,2238.0,4,42.0,1.0,9500.0,0,1.0,120.0,13,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,2
3,3.0,2479.0,4,1.0,1.0,9238.0,0,1.0,141.0,13,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,2
4,4.0,4260.0,4,44.0,1.0,9238.0,0,39.0,120.0,17,...,1.0,6.0,8.0,3.0,12.000000,0.0,12.4,0.5,1.79,0

File hasil preprocessing disimpan sebagai preprocessed_output.csv