**Nama: Anindya Sukma Dwiyanda**


**NIM: 103132400006**

**Kelas: S1SD-04-01**

**Import Library**

In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

**Load Dataset**

In [6]:
features = pd.read_csv("features.csv")
labels = pd.read_csv("labels.csv")

**1. Tampilkan data yang tehlah diunduh dan penjelasan kolom pada dataset**

In [8]:
# Menampilkan data dari features
features.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Student Id,6634,6459,2238,2479,4260
Marital status,single,single,single,single,single
Application mode,1.0,1.0,42.0,1.0,44.0
Application order,3.0,1.0,1.0,1.0,1.0
Course,9773.0,NaN,9500.0,NaN,NaN
Daytime/evening attendance\t,day,day,day,day,day
Previous qualification,1.0,1.0,1.0,1.0,39.0
Previous qualification (grade),NaN,136.0,120.0,141.0,120.0
Nacionality,Portuguese,Portuguese,Portuguese,Portuguese,Spanish
Mother's qualification,1.0,19.0,1.0,1.0,4.0
Father's qualification,1.0,19.0,2.0,19.0,4.0
Mother's occupation,4.0,4.0,9.0,4.0,3.0
Father's occupation,7.0,8.0,3.0,4.0,6.0
Admission grade,125.1,150.4,130.0,NaN,120.0
Displaced,1.0,1.0,NaN,0.0,0.0
Educational special needs,0.0,0.0,0.0,0.0,0.0
Debtor,1.0,0.0,0.0,0.0,1.0
Tuition fees up to date,1.0,1.0,1.0,1.0,0.0
Gender,1.0,1.0,0.0,0.0,0.0
Scholarship holder,NaN,1.0,0.0,1.0,0.0
Age at enrollment,18.0,21.0,NaN,18.0,20.0
International,0.0,0.0,0.0,0.0,1.0
Curricular units 1st sem (credited),0.0,0.0,4.0,0.0,2.0
Curricular units 1st sem (enrolled),6.0,0.0,8.0,NaN,6.0
Curricular units 1st sem (evaluations),6.0,0.0,8.0,8.0,13.0
Curricular units 1st sem (approved),6.0,0.0,7.0,6.0,3.0
Curricular units 1st sem (grade),14.333333,0.0,13.285714,14.0,11.666667
Curricular units 1st sem (without evaluations),0.0,0.0,0.0,0.0,0.0
Curricular units 2nd sem (credited),0.0,0.0,4.0,0.0,1.0
Curricular units 2nd sem (enrolled),6.0,0.0,8.0,6.0,6.0
Curricular units 2nd sem (evaluations),6.0,0.0,8.0,7.0,NaN
Curricular units 2nd sem (approved),6.0,0.0,7.0,6.0,3.0
Curricular units 2nd sem (grade),15.333333,0.0,13.285714,13.142857,12.0
Curricular units 2nd sem (without evaluations),0.0,0.0,0.0,0.0,0.0
Unemployment rate,11.1,12.4,12.7,11.1,12.4
Inflation rate,0.6,0.5,3.7,0.6,0.5
GDP,2.02,1.79,-1.7,2.02,1.79

In [9]:
# Menampilkan data dari labels
labels

        Target
0     Graduate
1     Graduate
2     Graduate
3     Graduate
4      Dropout
...        ...
3091  Graduate
3092  Graduate
3093  Graduate
3094   Dropout
3095  Graduate

[3096 rows x 1 columns]

Penjelasan dari tabel:


1. Unnamed: 0 & Student ID: Nomor identififkasi untuk setiap mahasiswa
2. Marital Status: Status pernikahan mahasiswa saat mendaftar
3. Application mode: Kode atau cara mahasiswa mendaftar ke institusi
4. Application order: Urutan pilihan program studi/aplikasi yang diajukan
5. Daytime/evening attendance\t: Indikator apakah mahasiwa mengikuti kelas siang atau malam
6. Previous qualification: Kualifikasi pendidikan terakhir sebelum mendaftar
7. Previous qualification (grade): Nilai rata-rata atau IPK dari kualifikasi pendidikan sebelumnya
8. Nacionality: Kebangsaan atau asal negaara mahasiswa
9. Mother's qualification: Kualifikasi pendidikan terakhir ibu
10. Father's qualification: Kualifikasi pendidikan terakhir ayah
11. Mother's occupation: Pekerjaan utama ibu mahaasiswa
12. Father's occupation: Pekerjaan utama ayah mahasiswa
13. Admission grade: Nilai yang digunakan sebagai dasar penerimaan mahasiswa
14. Displaced: Indikator apakah mahasiswa harus pindah tempat tinggal
15. Educational special needs: Indikator apakah mahasiswa memiliki kebutuhan pendidikan khusus
16. Debtor: Indikator apakah mahasiswa memiliki tunggakan/utang biaya kuliah
17. Tuition fees up to date: Indikator apakah biaya kuliah mahasiswa sudah lunas atau diperbarui tepat waktu
18. Gender: Jenis kelamin mahasiswa
19. Scholarship holder: Indikator apakah mahasiswa menerima beasiswa
20. Age at enrollment: Usia mahasiswa saat pertama kali mendaftar/masuk
21. International: Indikator apakah mahasiswa tersebut adalah mahasiswa internasional
22. Curricular units 1st sem (credited):  Jumlah matkul sem 1 yang diakui
23. Curricular units 1st sem (enrolled): Jumlah SKS/matkul yang diambil/didaftarkan pada semester 1
24. Curricular units 1st sem (evaluations): Jumlah evaluasi/ujian yang diikuti pada sem 1
25. Curricular units 1st sem (approved): Jumlah SKS/matkul yang berhasil lulus pada sem 1
26. Curricular units 1st sem (grade): Rata-rata nilai yang diperoleh mahasiswa pada semester 1
27. Curricular units 1st sem (without evaluations): Matkul sem 1 yang tidak diikuti ujian
28. Curricular units 2nd sem (credited): Jumlah matkul sem 2 yang diakui
29. Curricular units 2nd sem (enrolled): Jumlah SKS/matkul yang diambil/didaftarkan pada semester 2
30. Curricular units 2nd sem (evaluations): Jumlah evaluasi/ujian yang diikuti pada sem 2
31. Curricular units 2nd sem (approved): Jumlah SKS/matkul yang berhasil lulus pada sem 2
32. Curricular units 2nd sem (grade): Rata-rata nilai yang diperoleh mahasiswa pada semester 2
33. Curricular units 2nd sem (without evaluations): Jumlah evaluasi/ujian yang diikuti pada sem 2
34. Unemployment rate: Tingkat pengangguran pada periode pendaftaran
35. Inflation rate: Tingkat inflasi pada periode pendaftaran
36. GDP: Produk domestik pada periode pendaftaran

**2. Melakukan agregasi antara tabel features dengan tabel labels.**

In [10]:
df = pd.concat([features, labels], axis=1)
df.head()

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout

**3. Menampilkan tipe data dari setiap kolom yang terdapat dalam dataset.**

In [11]:
# Menampilkan tipe data setiap kolom
df.dtypes

Unnamed: 0                                          int64
Student Id                                          int64
Marital status                                     object
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance\t                       object
Previous qualification                            float64
Previous qualification (grade)                    float64
Nacionality                                        object
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Admission grade                                   float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Gender                                            float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

In [12]:
# Menampilkan informasi data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 39 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      3096 non-null   int64
 1   Student Id                                      3096 non-null   int64
 2   Marital status                                  3012 non-null   object
 3   Application mode                                2924 non-null   float64
 4   Application order                               2988 non-null   float64
 5   Course                                          2944 non-null   float64
 6   Daytime/evening attendance	                     3016 non-null   object
 7   Previous qualification                          2973 non-null   float64
 8   Previous qualification (grade)                  3011 non-null   float64
 9   Nacionality                                     2911 non-null   object
 10  Mother's qualification                          2951 non-null   float64
 11  Father's qualification                          3000 non-null   float64
 12  Mother's occupation                             3034 non-null   float64
 13  Father's occupation                             2952 non-null   float64
 14  Admission grade                                 2955 non-null   float64
 15  Displaced                                       2974 non-null   float64
 16  Educational special needs                       2977 non-null   float64
 17  Debtor                                          2980 non-null   float64
 18  Tuition fees up to date                         2940 non-null   float64
 19  Gender                                          2894 non-null   float64
 20  Scholarship holder                              2930 non-null   float64
 21  Age at enrollment                               2892 non-null   float64
 22  International                                   2995 non-null   float64
 23  Curricular units 1st sem (credited)             2888 non-null   float64
 24  Curricular units 1st sem (enrolled)             2953 non-null   float64
 25  Curricular units 1st sem (evaluations)          3029 non-null   float64
 26  Curricular units 1st sem (approved)             2912 non-null   float64
 27  Curricular units 1st sem (grade)                3007 non-null   float64
 28  Curricular units 1st sem (without evaluations)  3023 non-null   float64
 29  Curricular units 2nd sem (credited)             3035 non-null   float64
 30  Curricular units 2nd sem (enrolled)             2997 non-null   float64
 31  Curricular units 2nd sem (evaluations)          2889 non-null   float64
 32  Curricular units 2nd sem (approved)             2945 non-null   float64
 33  Curricular units 2nd sem (grade)                3021 non-null   float64
 34  Curricular units 2nd sem (without evaluations)  2943 non-null   float64
 35  Unemployment rate                               2960 non-null   float64
 36  Inflation rate                                  2929 non-null   float64
 37  GDP                                             3032 non-null   float64
 38  Target                                          3096 non-null   object
dtypes: float64(33), int64(2), object(4)
memory usage: 943.4+ KB

**4. Statistik Deskriptif dan Analisis Singkat**

In [14]:
# Menampilkan statistik deskriptif
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,3096.0,1547.500000,893.882543,0.00,773.75,1547.500000,2321.250000,3095.000000
Student Id,3096.0,5470.623062,2582.483019,1000.00,3288.50,5441.500000,7712.250000,9997.000000
Application mode,2924.0,18.785568,17.532674,1.00,1.00,17.000000,39.000000,53.000000
Application order,2988.0,1.734940,1.327527,1.00,1.00,1.000000,2.000000,9.000000
Course,2944.0,8817.929348,2148.407432,33.00,9085.00,9238.000000,9556.000000,9991.000000
Previous qualification,2973.0,4.685503,10.439709,1.00,1.00,1.000000,1.000000,43.000000
Previous qualification (grade),3011.0,132.647293,13.322662,95.00,124.00,133.100000,140.000000,190.000000
Mother's qualification,2951.0,19.470010,15.636952,1.00,2.00,19.000000,37.000000,44.000000
Father's qualification,3000.0,22.408667,15.291008,1.00,3.00,19.000000,37.000000,44.000000
Mother's occupation,3034.0,11.495715,28.173386,0.00,4.00,5.000000,9.000000,194.000000
Father's occupation,2952.0,11.597900,26.799023,0.00,4.00,7.000000,9.000000,195.000000
Admission grade,2955.0,126.902876,14.460283,95.00,118.00,125.900000,134.600000,190.000000
Displaced,2974.0,0.546066,0.497957,0.00,0.00,1.000000,1.000000,1.000000
Educational special needs,2977.0,0.010749,0.103136,0.00,0.00,0.000000,0.000000,1.000000
Debtor,2980.0,0.117450,0.322009,0.00,0.00,0.000000,0.000000,1.000000
Tuition fees up to date,2940.0,0.880612,0.324299,0.00,1.00,1.000000,1.000000,1.000000
Gender,2894.0,0.350726,0.477280,0.00,0.00,0.000000,1.000000,1.000000
Scholarship holder,2930.0,0.246416,0.430997,0.00,0.00,0.000000,0.000000,1.000000
Age at enrollment,2892.0,23.310166,7.697740,17.00,19.00,20.000000,25.000000,70.000000
International,2995.0,0.025042,0.156278,0.00,0.00,0.000000,0.000000,1.000000
Curricular units 1st sem (credited),2888.0,0.698407,2.333794,0.00,0.00,0.000000,0.000000,20.000000
Curricular units 1st sem (enrolled),2953.0,6.251270,2.453467,0.00,5.00,6.000000,7.000000,23.000000
Curricular units 1st sem (evaluations),3029.0,8.233080,4.119638,0.00,6.00,8.000000,10.000000,45.000000
Curricular units 1st sem (approved),2912.0,4.732143,3.044222,0.00,3.00,5.000000,6.000000,21.000000
Curricular units 1st sem (grade),3007.0,10.692416,4.816427,0.00,11.00,12.333333,13.400000,18.875000
Curricular units 1st sem (without evaluations),3023.0,0.133311,0.666707,0.00,0.00,0.000000,0.000000,10.000000
Curricular units 2nd sem (credited),3035.0,0.516639,1.840537,0.00,0.00,0.000000,0.000000,19.000000
Curricular units 2nd sem (enrolled),2997.0,6.208876,2.185127,0.00,5.00,6.000000,7.000000,23.000000
Curricular units 2nd sem (evaluations),2889.0,8.061613,3.942850,0.00,6.00,8.000000,10.000000,27.000000
Curricular units 2nd sem (approved),2945.0,4.422411,2.982200,0.00,2.00,5.000000,6.000000,20.000000
Curricular units 2nd sem (grade),3021.0,10.275115,5.177672,0.00,10.80,12.250000,13.333333,18.571429
Curricular units 2nd sem (without evaluations),2943.0,0.139314,0.709478,0.00,0.00,0.000000,0.000000,12.000000
Unemployment rate,2960.0,11.549561,2.651675,7.60,9.40,11.100000,13.900000,16.200000
Inflation rate,2929.0,1.215534,1.377709,-0.80,0.30,1.400000,2.600000,3.700000
GDP,3032.0,0.028278,2.273157,-4.06,-1.70,0.320000,1.790000,3.510000

Analisis singkat

1. Profil mahasiswa


*   Tujuan akademik: status akhir mahasiswa dominan "Graduate", yang merupakan kategori top dengan frekuensi tertinggi (2.209 entri). ini menunjukkan mayoritas mahasiswa berhasil lulus, tetapi perlu diperhatikan bahwa 'Dropout' juga memiliki frekuensi yang signifikan
*   Usia: rata-rata usia mahsiswa saat mendaftar adalah 23.36 tahun, dengan usia termuda 17 tahun dan tertua 70 tahun. standar deviasi yang cukup besar (std = 8.04) menunjukkan variasi usia yang luas, tidak hanya diisi lulusan sma.
*   Nilai masuk: rata-rata nilai penerimaan adalah 126.98 dengan variasi yang tidak terlalu ekstrem (std = 14.48)

2. Kualitas Data
*   Terdapat beberapa kolom dengan nilai hilang yang signifikan, terlihat dari count yang kurang dari 4424. hal ini menggarisbawahi pentingnya langkah  (imputasi) dalam tugas preprocessing untuk menangani data yang hilang

3. Kinerja Akademik
*   Rata-rata nilai: rata0rata nilai yang  diperoleh mhasiswa di semester 1 dan  di semester 2 sedikit lebih tinggi yaitu 13.43
*   Beban studi: mahasiswa rata-rata mengambil 6 matakuliah dan meluluskan sekitar 4 matakuliah per semester, menunjukkan adanya tantangan dalam menyelesaikan semua mata kuliah.

**5. SLICING**

In [15]:
# Contoh Slicing menggunakan iloc: Mengambil 5 baris pertama dan 5 kolom pertama
df.iloc[:5, :5]

   Unnamed: 0  Student Id Marital status  Application mode  Application order
0           0        6634         single               1.0                3.0
1           1        6459         single               1.0                1.0
2           2        2238         single              42.0                1.0
3           3        2479         single               1.0                1.0
4           4        4260         single              44.0                1.0

**6. Encoding**

In [20]:
encoder = LabelEncoder()

# Encoding semua kolom bertipe object
for col in df_imputed.select_dtypes(include=['object']).columns:
    df_imputed[col] = encoder.fit_transform(df_imputed[col])

df_imputed.head()

,Unnamed: 0,Student Id,Application mode,Application order,Course,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Marital status,Daytime/evening attendance\t,Nacionality,Target
0,0.0,6634.0,1.0,3.0,9773.0,1.0,141.0,1.0,1.0,4.0,...,6.0,15.333333,0.0,11.1,0.6,2.02,4,0,13,2
1,1.0,6459.0,1.0,1.0,9130.2,1.0,136.0,19.0,19.0,4.0,...,0.0,0.000000,0.0,12.4,0.5,1.79,4,0,13,2
2,2.0,2238.0,42.0,1.0,9500.0,1.0,120.0,1.0,2.0,9.0,...,7.0,13.285714,0.0,12.7,3.7,-1.70,4,0,13,2
3,3.0,2479.0,1.0,1.0,5687.8,1.0,141.0,1.0,19.0,4.0,...,6.0,13.142857,0.0,11.1,0.6,2.02,4,0,13,2
4,4.0,4260.0,44.0,1.0,9388.2,39.0,120.0,4.0,4.0,3.0,...,3.0,12.000000,0.0,12.4,0.5,1.79,4,0,17,0

In [23]:
# Menampilkan missing value setelah pre processing
df_imputed.isnull().sum()

Unnamed: 0                                        0
Student Id                                        0
Application mode                                  0
Application order                                 0
Course                                            0
Previous qualification                            0
Previous qualification (grade)                    0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Marital status                                    0
Daytime/evening attendance\t                      0
Nacionality                                       0
Target                                            0
dtype: int64

In [24]:
imputer = KNNImputer(n_neighbors=5)
df_imputed = pd.DataFrame(imputer.fit_transform(df.select_dtypes(include=np.number)), columns=df.select_dtypes(include=np.number).columns)

In [18]:
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df_imputed[col] = encoder.fit_transform(df[col])

df_imputed.head()

,Unnamed: 0,Student Id,Application mode,Application order,Course,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Marital status,Daytime/evening attendance\t,Nacionality,Target
0,0.0,6634.0,1.0,3.0,9773.0,1.0,141.0,1.0,1.0,4.0,...,6.0,15.333333,0.0,11.1,0.6,2.02,4,0,13,2
1,1.0,6459.0,1.0,1.0,9130.2,1.0,136.0,19.0,19.0,4.0,...,0.0,0.000000,0.0,12.4,0.5,1.79,4,0,13,2
2,2.0,2238.0,42.0,1.0,9500.0,1.0,120.0,1.0,2.0,9.0,...,7.0,13.285714,0.0,12.7,3.7,-1.70,4,0,13,2
3,3.0,2479.0,1.0,1.0,5687.8,1.0,141.0,1.0,19.0,4.0,...,6.0,13.142857,0.0,11.1,0.6,2.02,4,0,13,2
4,4.0,4260.0,44.0,1.0,9388.2,39.0,120.0,4.0,4.0,3.0,...,3.0,12.000000,0.0,12.4,0.5,1.79,4,0,17,0

**7. Menampilkan dataset**

In [25]:
print("Shape dataset akhir:", df_imputed.shape)
df_imputed.head()

Shape dataset akhir: (3096, 35)

,Unnamed: 0,Student Id,Application mode,Application order,Course,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,0.0,6634.0,1.0,3.0,9773.0,1.0,141.0,1.0,1.0,4.0,...,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02
1,1.0,6459.0,1.0,1.0,9130.2,1.0,136.0,19.0,19.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79
2,2.0,2238.0,42.0,1.0,9500.0,1.0,120.0,1.0,2.0,9.0,...,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70
3,3.0,2479.0,1.0,1.0,5687.8,1.0,141.0,1.0,19.0,4.0,...,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02
4,4.0,4260.0,44.0,1.0,9388.2,39.0,120.0,4.0,4.0,3.0,...,0.0,1.0,6.0,9.6,3.0,12.000000,0.0,12.4,0.5,1.79