# Nama: Andita Ayuningtyas
# NIM: 103132400016
# Matkul: IPSD
# Modul 2 Preprocessing

## Library

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# 1. Tampilkan data yang telah diunduh & jelaskan kolom-kolom

In [ ]:
features = pd.read_csv('/content/features.csv')
labels = pd.read_csv('/content/labels.csv')

# Tampilkan beberapa baris awal dari setiap dataset
print("=== Dataset Features ===")
display(features.head())

print("\n=== Dataset Labels ===")
display(labels.head())

=== Dataset Features ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,0.0,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79

=== Dataset Labels ===

     Target
0  Graduate
1  Graduate
2  Graduate
3  Graduate
4   Dropout

## Penjelasan

*   features.csv: berisi fitur-fitur numerik atau kategorikal yang digunakan sebagai input.
*   labels.csv berisi kolom target (label) yang menjelaskan kategori atau output dari data tersebut.
*   Setiap baris pada features dan labels merepresentasikan satu observasi/data point yang sama.

# 2️. Lakukan agregasi antara tabel features dengan tabel labels.

In [ ]:
# Gabungkan berdasarkan index (karena kedua file memiliki urutan data yang sama)
data = pd.concat([features, labels], axis=1)

# Tampilkan hasil gabungan
display(data.head())

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout

# 3️. Tampilkan tipe data dari setiap kolom yang terdapat dalam dataset.

In [ ]:
data.dtypes

Unnamed: 0                                          int64
Student Id                                          int64
Marital status                                     object
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance\t                       object
Previous qualification                            float64
Previous qualification (grade)                    float64
Nacionality                                        object
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Admission grade                                   float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Gender                                            float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

## Penjelasan

*   Output menunjukkan tipe data setiap kolom (int64, float64, object, dll)
*   Kolom bertipe object biasanya memerlukan encoding sebelum digunakan untuk analisis atau model

# 4️. Tampilkan statistik deskriptif dari dataset dan berikan analisis singkat mengenai hasilnya.

In [ ]:
data.describe(include='all')

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
count,3096.000000,3096.000000,3012,2924.000000,2988.000000,2944.000000,3016,2973.000000,3011.000000,2911,...,3035.000000,2997.000000,2889.000000,2945.000000,3021.000000,2943.000000,2960.000000,2929.000000,3032.000000,3096
unique,NaN,NaN,6,NaN,NaN,NaN,2,NaN,NaN,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,single,NaN,NaN,NaN,day,NaN,NaN,Portuguese,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Graduate
freq,NaN,NaN,2674,NaN,NaN,NaN,2701,NaN,NaN,2836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1546
mean,1547.500000,5470.623062,NaN,18.785568,1.734940,8817.929348,NaN,4.685503,132.647293,NaN,...,0.516639,6.208876,8.061613,4.422411,10.275115,0.139314,11.549561,1.215534,0.028278,NaN
std,893.882543,2582.483019,NaN,17.532674,1.327527,2148.407432,NaN,10.439709,13.322662,NaN,...,1.840537,2.185127,3.942850,2.982200,5.177672,0.709478,2.651675,1.377709,2.273157,NaN
min,0.000000,1000.000000,NaN,1.000000,1.000000,33.000000,NaN,1.000000,95.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000,NaN
25%,773.750000,3288.500000,NaN,1.000000,1.000000,9085.000000,NaN,1.000000,124.000000,NaN,...,0.000000,5.000000,6.000000,2.000000,10.800000,0.000000,9.400000,0.300000,-1.700000,NaN
50%,1547.500000,5441.500000,NaN,17.000000,1.000000,9238.000000,NaN,1.000000,133.100000,NaN,...,0.000000,6.000000,8.000000,5.000000,12.250000,0.000000,11.100000,1.400000,0.320000,NaN
75%,2321.250000,7712.250000,NaN,39.000000,2.000000,9556.000000,NaN,1.000000,140.000000,NaN,...,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000,NaN
max,3095.000000,9997.000000,NaN,53.000000,9.000000,9991.000000,NaN,43.000000,190.000000,NaN,...,19.000000,23.000000,27.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000,NaN

# Penjelasan

*   Statistik seperti mean, std, min, dan max membantu memahami sebaran nilai numerik
*   Untuk kolom kategorikal, muncul jumlah nilai unik dan frekuensi kemunculan terbanyak
*   Nilai NaN pada statistik menunjukkan adanya data hilang yang perlu diimputasi.

# 5️. Slicing Data

In [ ]:
# 20 baris awal
print("=== 20 Baris Awal ===")
display(data.head(20))

# 20 baris terakhir
print("=== 20 Baris Terakhir ===")
display(data.tail(20))

# Baris index 80 - 100
print("=== Baris Index 80 - 100 ===")
display(data.iloc[80:101])

=== 20 Baris Awal ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout
5,5,3544,married,39.0,1.0,9853.0,day,1.0,NaN,Portuguese,...,0.0,7.0,10.0,3.0,13.000000,0.0,11.1,0.6,2.02,Dropout
6,6,4956,single,39.0,1.0,9085.0,day,1.0,133.1,NaN,...,0.0,6.0,14.0,4.0,12.000000,0.0,11.1,0.6,2.02,Dropout
7,7,6758,single,1.0,4.0,9670.0,day,1.0,130.0,Portuguese,...,0.0,6.0,7.0,6.0,13.428571,0.0,8.9,1.4,3.51,Enrolled
8,8,2484,single,1.0,1.0,9773.0,day,1.0,135.0,Portuguese,...,0.0,6.0,7.0,6.0,12.166667,0.0,11.1,0.6,2.02,Graduate
9,9,9845,single,39.0,1.0,9670.0,day,1.0,120.0,Portuguese,...,0.0,5.0,8.0,4.0,11.250000,0.0,7.6,2.6,0.32,Dropout
10,10,3690,single,1.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,9.4,-0.8,-3.12,Dropout
11,11,2585,single,1.0,1.0,9070.0,day,1.0,117.0,Portuguese,...,0.0,6.0,NaN,4.0,10.750000,2.0,NaN,NaN,-0.92,Graduate
12,12,5241,single,1.0,1.0,171.0,day,1.0,162.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.7,3.7,-1.70,Dropout
13,13,2972,single,1.0,3.0,9500.0,day,1.0,135.0,Portuguese,...,0.0,8.0,11.0,NaN,13.258571,0.0,NaN,1.4,1.74,Graduate
14,14,2003,married,39.0,1.0,8014.0,NaN,NaN,120.0,Portuguese,...,0.0,NaN,8.0,6.0,12.857143,0.0,12.4,0.5,1.79,Graduate
15,15,3007,single,7.0,1.0,9119.0,day,1.0,140.8,Portuguese,...,0.0,5.0,0.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
16,16,9857,single,17.0,1.0,9119.0,day,1.0,132.0,Portuguese,...,0.0,5.0,5.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
17,17,3327,single,NaN,1.0,9003.0,day,19.0,133.1,Portuguese,...,0.0,6.0,16.0,3.0,13.333333,0.0,11.1,0.6,2.02,Dropout
18,18,5235,single,17.0,1.0,171.0,day,1.0,NaN,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74,Dropout
19,19,3969,single,1.0,1.0,9085.0,day,1.0,111.0,Portuguese,...,0.0,6.0,12.0,NaN,13.666667,0.0,11.1,0.6,2.02,Graduate

=== 20 Baris Terakhir ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
3076,3076,6757,single,17.0,NaN,9254.0,day,1.0,122.0,Portuguese,...,0.0,6.0,11.0,3.0,11.333333,0.0,7.6,2.6,0.32,Enrolled
3077,3077,5750,single,1.0,2.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,8.0,8.0,13.881250,0.0,9.4,-0.8,-3.12,Graduate
3078,3078,2599,single,1.0,1.0,9085.0,day,1.0,131.0,Portuguese,...,0.0,5.0,5.0,NaN,12.800000,0.0,10.8,1.4,1.74,Graduate
3079,3079,3249,single,17.0,1.0,9238.0,day,1.0,120.0,Portuguese,...,0.0,6.0,13.0,2.0,10.666667,0.0,16.2,0.3,-0.92,Dropout
3080,3080,3366,divorced,39.0,1.0,9003.0,day,12.0,133.1,Portuguese,...,10.0,13.0,14.0,13.0,14.230769,NaN,15.5,2.8,-4.06,Graduate
3081,3081,3462,single,39.0,1.0,171.0,day,1.0,147.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,16.2,0.3,-0.92,Dropout
3082,3082,9194,single,17.0,5.0,9147.0,day,1.0,131.0,Portuguese,...,0.0,5.0,11.0,5.0,11.400000,4.0,16.2,NaN,-0.92,Graduate
3083,3083,5574,single,1.0,1.0,9500.0,day,1.0,140.0,Portuguese,...,0.0,8.0,11.0,8.0,14.881818,0.0,16.2,0.3,-0.92,Graduate
3084,3084,8311,single,1.0,2.0,9773.0,day,1.0,130.0,Portuguese,...,0.0,6.0,6.0,6.0,12.333333,0.0,12.4,0.5,1.79,Graduate
3085,3085,2304,single,17.0,1.0,9238.0,day,NaN,139.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,0.0,15.5,2.8,-4.06,Graduate
3086,3086,6615,single,43.0,1.0,9556.0,day,1.0,149.0,Portuguese,...,0.0,8.0,8.0,8.0,12.625000,0.0,12.7,3.7,-1.70,Enrolled
3087,3087,3759,single,1.0,1.0,171.0,day,3.0,116.0,Portuguese,...,14.0,17.0,18.0,17.0,11.500000,0.0,11.1,0.6,2.02,Graduate
3088,3088,8085,single,51.0,1.0,9670.0,day,1.0,133.1,Portuguese,...,0.0,6.0,12.0,5.0,13.666667,0.0,11.1,0.6,2.02,Dropout
3089,3089,1573,single,17.0,2.0,171.0,day,1.0,142.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Graduate
3090,3090,9737,single,51.0,1.0,9070.0,day,1.0,143.0,Portuguese,...,5.0,11.0,11.0,10.0,11.400000,0.0,11.1,0.6,2.02,Dropout
3091,3091,6176,single,44.0,1.0,9085.0,day,1.0,140.0,Portuguese,...,1.0,6.0,9.0,4.0,11.500000,0.0,13.9,-0.3,0.79,Graduate
3092,3092,8064,single,1.0,5.0,9238.0,day,1.0,126.0,Portuguese,...,0.0,6.0,13.0,3.0,11.000000,0.0,9.4,-0.8,-3.12,Graduate
3093,3093,2103,single,1.0,2.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,8.0,8.0,14.272500,0.0,15.5,2.8,-4.06,Graduate
3094,3094,8629,single,39.0,1.0,9500.0,day,4.0,150.0,Portuguese,...,2.0,8.0,NaN,7.0,13.306250,0.0,11.1,0.6,2.02,Dropout
3095,3095,6614,single,17.0,1.0,9670.0,day,1.0,118.0,Portuguese,...,0.0,6.0,6.0,6.0,14.000000,0.0,12.4,0.5,1.79,Graduate

=== Baris Index 80 - 100 ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
80,80,1238,single,17.0,1.0,9670.0,day,1.0,155.0,Portuguese,...,NaN,6.0,10.0,4.0,13.000000,0.0,12.7,3.7,-1.70,Enrolled
81,81,4121,single,39.0,1.0,9003.0,day,1.0,NaN,Portuguese,...,0.0,NaN,8.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Dropout
82,82,2890,single,1.0,1.0,171.0,day,1.0,159.0,NaN,...,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,NaN,1.79,Dropout
83,83,4358,single,1.0,1.0,9147.0,day,1.0,150.0,Ukrainian,...,0.0,5.0,7.0,5.0,13.000000,0.0,9.4,-0.8,-3.12,Graduate
84,84,4896,single,NaN,1.0,9991.0,evening,1.0,140.0,Portuguese,...,0.0,5.0,5.0,NaN,0.000000,0.0,15.5,2.8,-4.06,Dropout
85,85,4735,single,18.0,1.0,9500.0,day,1.0,144.0,Portuguese,...,NaN,8.0,8.0,7.0,13.542857,0.0,12.7,3.7,-1.70,Graduate
86,86,1047,single,1.0,1.0,9773.0,day,1.0,117.0,Portuguese,...,0.0,6.0,11.0,3.0,13.000000,0.0,15.5,2.8,-4.06,Graduate
87,87,7430,single,39.0,2.0,9556.0,day,19.0,133.1,Portuguese,...,0.0,8.0,9.0,8.0,11.962500,0.0,13.9,-0.3,0.79,Graduate
88,88,8527,single,1.0,2.0,9500.0,day,1.0,145.0,Portuguese,...,0.0,7.0,7.0,6.0,12.950000,0.0,7.6,2.6,0.32,Graduate
89,89,5420,single,43.0,1.0,NaN,day,1.0,121.0,Portuguese,...,0.0,6.0,8.0,4.0,11.250000,0.0,9.4,NaN,-3.12,Enrolled
90,90,5625,single,44.0,1.0,9003.0,day,39.0,140.0,Portuguese,...,0.0,6.0,7.0,5.0,12.600000,0.0,12.4,0.5,1.79,Graduate
91,91,8990,NaN,1.0,1.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,NaN,8.0,12.860000,2.0,9.4,-0.8,-3.12,Graduate
92,92,9143,married,44.0,1.0,9085.0,day,39.0,160.0,Portuguese,...,0.0,5.0,8.0,5.0,12.000000,1.0,9.4,-0.8,-3.12,Graduate
93,93,1944,married,7.0,1.0,9070.0,day,43.0,140.0,Portuguese,...,0.0,6.0,8.0,3.0,11.000000,0.0,11.1,0.6,2.02,Graduate
94,94,3666,single,1.0,3.0,9070.0,day,1.0,125.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,NaN,11.1,0.6,2.02,Enrolled
95,95,6960,single,17.0,3.0,9119.0,day,1.0,130.0,Portuguese,...,0.0,5.0,5.0,5.0,14.200000,0.0,8.9,1.4,NaN,Graduate
96,96,7620,single,1.0,1.0,9500.0,day,1.0,157.0,Portuguese,...,0.0,8.0,8.0,8.0,14.035000,0.0,9.4,-0.8,-3.12,Graduate
97,97,6083,single,42.0,1.0,9500.0,day,1.0,150.0,NaN,...,6.0,14.0,20.0,14.0,13.072857,NaN,9.4,-0.8,-3.12,Graduate
98,98,5525,single,17.0,5.0,9238.0,day,1.0,130.0,NaN,...,0.0,6.0,15.0,3.0,10.000000,0.0,9.4,-0.8,-3.12,Enrolled
99,99,6029,single,17.0,1.0,9773.0,day,1.0,136.0,Portuguese,...,0.0,6.0,6.0,6.0,13.166667,0.0,12.7,3.7,-1.70,Graduate
100,100,9749,single,39.0,1.0,9085.0,day,1.0,110.0,Portuguese,...,3.0,7.0,7.0,3.0,11.666667,0.0,8.9,1.4,3.51,Dropout

# 6️. Tangani nilai yang hilang (NaN) menggunakan salah satu metode berikut:

## cek data yang hilang

In [ ]:
data.isnull().sum()

Unnamed: 0                                          0
Student Id                                          0
Marital status                                     84
Application mode                                  172
Application order                                 108
Course                                            152
Daytime/evening attendance\t                       80
Previous qualification                            123
Previous qualification (grade)                     85
Nacionality                                       185
Mother's qualification                            145
Father's qualification                             96
Mother's occupation                                62
Father's occupation                               144
Admission grade                                   141
Displaced                                         122
Educational special needs                         119
Debtor                                            116
Tuition fees up to date                           156
Gender                                            202
Scholarship holder                                166
Age at enrollment                                 204
International                                     101
Curricular units 1st sem (credited)               208
Curricular units 1st sem (enrolled)               143
Curricular units 1st sem (evaluations)             67
Curricular units 1st sem (approved)               184
Curricular units 1st sem (grade)                   89
Curricular units 1st sem (without evaluations)     73
Curricular units 2nd sem (credited)                61
Curricular units 2nd sem (enrolled)                99
Curricular units 2nd sem (evaluations)            207
Curricular units 2nd sem (approved)               151
Curricular units 2nd sem (grade)                   75
Curricular units 2nd sem (without evaluations)    153
Unemployment rate                                 136
Inflation rate                                    167
GDP                                                64
Target                                              0
dtype: int64

## Metode 1: Imputasi dengan Statistik (Mean, Median, Mode)

In [ ]:
# Contoh: imputasi dengan mean untuk kolom numerik
num_cols = data.select_dtypes(include=['float64', 'int64']).columns
imputer_mean = SimpleImputer(strategy='mean')
data[num_cols] = imputer_mean.fit_transform(data[num_cols])

# Contoh: imputasi dengan mode untuk kolom kategorikal
cat_cols = data.select_dtypes(include=['object']).columns
imputer_mode = SimpleImputer(strategy='most_frequent')
data[cat_cols] = imputer_mode.fit_transform(data[cat_cols])

# Cek hasil setelah imputasi
data.isnull().sum()

Unnamed: 0                                        0
Student Id                                        0
Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance\t                      0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

## Metode 2: Imputasi dengan Model (miceforest)

In [10]:
# Instalasi Library (jika belum terpasang)

!pip install miceforest

Collecting miceforest
  Downloading miceforest-6.0.3-py3-none-any.whl.metadata (35 kB)
Requirement already satisfied: lightgbm>=4.1.0 in /usr/local/lib/python3.12/dist-packages (from miceforest) (4.6.0)
Requirement already satisfied: pandas>=2.1.0 in /usr/local/lib/python3.12/dist-packages (from miceforest) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from miceforest) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from miceforest) (1.16.2)
Requirement already satisfied: pyarrow>=6.0.1 in /usr/local/lib/python3.12/dist-packages (from miceforest) (18.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.1.0->miceforest) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.1.0->miceforest) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.1.0->miceforest) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=2.1.0->miceforest) (1.17.0)
Downloading miceforest-6.0.3-py3-none-any.whl (40 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 2.5 MB/s eta 0:00:00
Installing collected packages: miceforest
Successfully installed miceforest-6.0.3

In [23]:
# 1) (Hanya bila belum terpasang)
!pip install miceforest --quiet

# 2) Import dan cek versi untuk memastikan API
import miceforest as mf
import inspect
import pandas as pd

print("miceforest version:", mf.__version__)
print("\nImputationKernel signature:")
print(inspect.signature(mf.ImputationKernel))

miceforest version: 6.0.3

ImputationKernel signature:
(data: pandas.core.frame.DataFrame, num_datasets: int = 1, variable_schema: Union[List[str], Dict[str, List[str]], NoneType] = None, imputation_order: Literal['ascending', 'descending', 'roman', 'latin'] = 'ascending', mean_match_candidates: Union[int, Dict[str, int]] = 5, mean_match_strategy: Union[str, Dict[str, str], NoneType] = 'normal', data_subset: Union[int, Dict[str, int]] = 0, initialize_empty: bool = False, save_all_iterations_data: bool = True, copy_data: bool = True, random_state: Union[int, numpy.random.mtrand.RandomState, NoneType] = None)

In [17]:
import miceforest as mf
print("Versi miceforest kamu:", mf.__version__)

Versi miceforest kamu: 6.0.3

In [24]:
# Ambil hasil imputasi lengkap dari kernel
data_imputed = kernel.complete_data(0)

# Tampilkan hasilnya
display(data_imputed.head())

# Periksa apakah masih ada nilai hilang
print("\nJumlah nilai hilang setelah imputasi:", data_imputed.isnull().sum().sum())

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0.0,6634.0,single,1.0,3.0,9773.000000,day,1.0,132.647293,Portuguese,...,0.0,6.0,6.000000,6.0,15.333333,0.0,11.1,0.6,2.02,Graduate
1,1.0,6459.0,single,1.0,1.0,8817.929348,day,1.0,136.000000,Portuguese,...,0.0,0.0,0.000000,0.0,0.000000,0.0,12.4,0.5,1.79,Graduate
2,2.0,2238.0,single,42.0,1.0,9500.000000,day,1.0,120.000000,Portuguese,...,4.0,8.0,8.000000,7.0,13.285714,0.0,12.7,3.7,-1.70,Graduate
3,3.0,2479.0,single,1.0,1.0,8817.929348,day,1.0,141.000000,Portuguese,...,0.0,6.0,7.000000,6.0,13.142857,0.0,11.1,0.6,2.02,Graduate
4,4.0,4260.0,single,44.0,1.0,8817.929348,day,39.0,120.000000,Spanish,...,1.0,6.0,8.061613,3.0,12.000000,0.0,12.4,0.5,1.79,Dropout

Jumlah nilai hilang setelah imputasi: 0

In [25]:
# simpan hasil ke file baru

data_imputed.to_csv("Data_After_MICE_Imputation.csv", index=False)
print("✅ Hasil imputasi disimpan sebagai 'Data_After_MICE_Imputation.csv'")

✅ Hasil imputasi disimpan sebagai 'Data_After_MICE_Imputation.csv'

# 7️. Opsional : Lakukan encoding terhadap kolom bertipe object menjadi numerik menggunakan:
*   LabelEncoder
*   OneHotEncoder

In [26]:
# LabelEncoder
# Label encoding untuk kolom bertipe object
le = LabelEncoder()
for col in cat_cols:
    data[col] = le.fit_transform(data[col])
data.head()

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0.0,6634.0,4,1.0,3.0,9773.000000,0,1.0,132.647293,13,...,0.0,6.0,6.000000,6.0,15.333333,0.0,11.1,0.6,2.02,2
1,1.0,6459.0,4,1.0,1.0,8817.929348,0,1.0,136.000000,13,...,0.0,0.0,0.000000,0.0,0.000000,0.0,12.4,0.5,1.79,2
2,2.0,2238.0,4,42.0,1.0,9500.000000,0,1.0,120.000000,13,...,4.0,8.0,8.000000,7.0,13.285714,0.0,12.7,3.7,-1.70,2
3,3.0,2479.0,4,1.0,1.0,8817.929348,0,1.0,141.000000,13,...,0.0,6.0,7.000000,6.0,13.142857,0.0,11.1,0.6,2.02,2
4,4.0,4260.0,4,44.0,1.0,8817.929348,0,39.0,120.000000,17,...,1.0,6.0,8.061613,3.0,12.000000,0.0,12.4,0.5,1.79,0

In [27]:
# OneHotEncoder
# Jika ingin hasil One-Hot Encoding
data = pd.get_dummies(data, columns=cat_cols)
data.head()

,Unnamed: 0,Student Id,Application mode,Application order,Course,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Mother's occupation,...,Nacionality_12,Nacionality_13,Nacionality_14,Nacionality_15,Nacionality_16,Nacionality_17,Nacionality_18,Target_0,Target_1,Target_2
0,0.0,6634.0,1.0,3.0,9773.000000,1.0,132.647293,1.0,1.0,4.0,...,False,True,False,False,False,False,False,False,False,True
1,1.0,6459.0,1.0,1.0,8817.929348,1.0,136.000000,19.0,19.0,4.0,...,False,True,False,False,False,False,False,False,False,True
2,2.0,2238.0,42.0,1.0,9500.000000,1.0,120.000000,1.0,2.0,9.0,...,False,True,False,False,False,False,False,False,False,True
3,3.0,2479.0,1.0,1.0,8817.929348,1.0,141.000000,1.0,19.0,4.0,...,False,True,False,False,False,False,False,False,False,True
4,4.0,4260.0,44.0,1.0,8817.929348,39.0,120.000000,4.0,4.0,3.0,...,False,False,False,False,False,True,False,True,False,False

# 8️. Tampilkan kembali dataset yang telah melalui seluruh proses preprocessing (cleaning, imputasi, dan encoding).

In [28]:
print("=== Dataset Setelah Preprocessing ===")
display(data.head())

# Pastikan tidak ada NaN
print("\nCek nilai hilang setelah preprocessing:")
print(data.isnull().sum().sum())

=== Dataset Setelah Preprocessing ===

,Unnamed: 0,Student Id,Application mode,Application order,Course,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Mother's occupation,...,Nacionality_12,Nacionality_13,Nacionality_14,Nacionality_15,Nacionality_16,Nacionality_17,Nacionality_18,Target_0,Target_1,Target_2
0,0.0,6634.0,1.0,3.0,9773.000000,1.0,132.647293,1.0,1.0,4.0,...,False,True,False,False,False,False,False,False,False,True
1,1.0,6459.0,1.0,1.0,8817.929348,1.0,136.000000,19.0,19.0,4.0,...,False,True,False,False,False,False,False,False,False,True
2,2.0,2238.0,42.0,1.0,9500.000000,1.0,120.000000,1.0,2.0,9.0,...,False,True,False,False,False,False,False,False,False,True
3,3.0,2479.0,1.0,1.0,8817.929348,1.0,141.000000,1.0,19.0,4.0,...,False,True,False,False,False,False,False,False,False,True
4,4.0,4260.0,44.0,1.0,8817.929348,39.0,120.000000,4.0,4.0,3.0,...,False,False,False,False,False,True,False,True,False,False

Cek nilai hilang setelah preprocessing:
0

# Simpan file baru

In [29]:
data.to_csv('Preprocessed_Data.csv', index=False)
print("✅ File hasil preprocessing disimpan sebagai 'Preprocessed_Data.csv'")

✅ File hasil preprocessing disimpan sebagai 'Preprocessed_Data.csv'