In [13]:
# Import library utama
import pandas as pd
import numpy as np

# Untuk imputasi dan encoding
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [14]:
# Membaca dataset yang telah diunduh dan diupload ke Colab
# Pastikan nama file sesuai yang ada di Drive
features = pd.read_csv('/features.csv')
labels = pd.read_csv('/labels.csv')

# Menampilkan 5 baris pertama dari masing-masing dataset
print("=== Features Dataset ===")
display(features.head())

print("=== Labels Dataset ===")
display(labels.head())

=== Features Dataset ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,0,6634,single,1.0,3.0,9773.0,day,1.0,NaN,Portuguese,...,0.0,0.0,6.0,6.0,6.0,15.333333,0.0,11.1,0.6,2.02
1,1,6459,single,1.0,1.0,NaN,day,1.0,136.0,Portuguese,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,12.4,0.5,1.79
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,0.0,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02
4,4,4260,single,44.0,1.0,NaN,day,39.0,120.0,Spanish,...,0.0,1.0,6.0,NaN,3.0,12.000000,0.0,12.4,0.5,1.79

=== Labels Dataset ===

     Target
0  Graduate
1  Graduate
2  Graduate
3  Graduate
4   Dropout

 Penjelasan kolom (contoh, sesuaikan dengan dataset yang sebenarnya)

id: ID unik untuk setiap entri

Age: Usia responden

Gender: Jenis kelamin responden

Income: Pendapatan per bulan

Target: Label hasil klasifikasi

In [16]:
# Menggabungkan dua tabel berdasarkan kolom 'Student Id'
df = pd.merge(features, labels, left_on='Student Id', right_index=True)

print("=== Dataset Setelah Digabung ===")
display(df.head())

=== Dataset Setelah Digabung ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Dropout
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Dropout
8,8,2484,single,1.0,1.0,9773.0,day,1.0,135.0,Portuguese,...,0.0,6.0,7.0,6.0,12.166667,0.0,11.1,0.6,2.02,Graduate
11,11,2585,single,1.0,1.0,9070.0,day,1.0,117.0,Portuguese,...,0.0,6.0,NaN,4.0,10.750000,2.0,NaN,NaN,-0.92,Graduate
13,13,2972,single,1.0,3.0,9500.0,day,1.0,135.0,Portuguese,...,0.0,8.0,11.0,NaN,13.258571,0.0,NaN,1.4,1.74,Dropout

In [17]:
print("=== Tipe Data Tiap Kolom ===")
print(df.dtypes)

=== Tipe Data Tiap Kolom ===
Unnamed: 0                                          int64
Student Id                                          int64
Marital status                                     object
Application mode                                  float64
Application order                                 float64
Course                                            float64
Daytime/evening attendance\t                       object
Previous qualification                            float64
Previous qualification (grade)                    float64
Nacionality                                        object
Mother's qualification                            float64
Father's qualification                            float64
Mother's occupation                               float64
Father's occupation                               float64
Admission grade                                   float64
Displaced                                         float64
Educational special needs                         float64
Debtor                                            float64
Tuition fees up to date                           float64
Gender                                            float64
Scholarship holder                                float64
Age at enrollment                                 float64
International                                     float64
Curricular units 1st sem (credited)               float64
Curricular units 1st sem (enrolled)               float64
Curricular units 1st sem (evaluations)            float64
Curricular units 1st sem (approved)               float64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)    float64
Curricular units 2nd sem (credited)               float64
Curricular units 2nd sem (enrolled)               float64
Curricular units 2nd sem (evaluations)            float64
Curricular units 2nd sem (approved)               float64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)    float64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

In [18]:
print("=== Statistik Deskriptif Dataset ===")
display(df.describe(include='all'))

# Analisis singkat
# Mean dan median bisa menggambarkan sebaran data
# Kolom kategorikal (object) nantinya perlu encoding
# Perhatikan nilai min, max, dan std dev untuk melihat sebaran

=== Statistik Deskriptif Dataset ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
count,707.000000,707.000000,685,662.000000,686.000000,672.000000,693,678.000000,692.000000,656,...,695.000000,687.000000,661.000000,671.000000,694.000000,673.000000,676.000000,673.000000,692.000000,707
unique,NaN,NaN,4,NaN,NaN,NaN,2,NaN,NaN,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,single,NaN,NaN,NaN,day,NaN,NaN,Portuguese,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Graduate
freq,NaN,NaN,607,NaN,NaN,NaN,610,NaN,NaN,639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,358
mean,1550.752475,2030.977369,NaN,19.096677,1.677843,8740.316964,NaN,5.082596,132.280925,NaN,...,0.543885,6.144105,8.000000,4.281669,10.096691,0.164933,11.662130,1.200594,0.011358,NaN
std,880.976340,609.677577,NaN,17.582217,1.259013,2257.288715,NaN,10.914829,13.348091,NaN,...,1.879823,2.215350,4.206056,3.004416,5.274632,0.811646,2.705394,1.348136,2.299992,NaN
min,2.000000,1000.000000,NaN,1.000000,1.000000,33.000000,NaN,1.000000,100.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000,NaN
25%,780.000000,1509.000000,NaN,1.000000,1.000000,9085.000000,NaN,1.000000,124.000000,NaN,...,0.000000,5.000000,6.000000,2.000000,10.616667,0.000000,9.400000,0.300000,-1.700000,NaN
50%,1541.000000,2013.000000,NaN,17.000000,1.000000,9238.000000,NaN,1.000000,133.100000,NaN,...,0.000000,6.000000,8.000000,5.000000,12.166667,0.000000,11.100000,1.400000,0.320000,NaN
75%,2283.000000,2552.500000,NaN,39.000000,2.000000,9500.000000,NaN,1.000000,140.000000,NaN,...,0.000000,7.000000,10.000000,6.000000,13.296468,0.000000,13.900000,2.600000,1.790000,NaN
max,3093.000000,3095.000000,NaN,53.000000,6.000000,9991.000000,NaN,43.000000,180.000000,NaN,...,14.000000,19.000000,27.000000,19.000000,17.600000,8.000000,16.200000,3.700000,3.510000,NaN

In [19]:
# 20 baris pertama
print("=== 20 Baris Pertama ===")
display(df.head(20))

# 20 baris terakhir
print("=== 20 Baris Terakhir ===")
display(df.tail(20))

# Baris dengan index 80 - 100
print("=== Baris Index 80 - 100 ===")
display(df.iloc[80:101])

=== 20 Baris Pertama ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
2,2,2238,single,42.0,1.0,9500.0,day,1.0,120.0,Portuguese,...,4.0,8.0,8.0,7.0,13.285714,0.0,12.7,3.7,-1.70,Dropout
3,3,2479,single,1.0,1.0,NaN,day,1.0,141.0,Portuguese,...,0.0,6.0,7.0,6.0,13.142857,0.0,11.1,0.6,2.02,Dropout
8,8,2484,single,1.0,1.0,9773.0,day,1.0,135.0,Portuguese,...,0.0,6.0,7.0,6.0,12.166667,0.0,11.1,0.6,2.02,Graduate
11,11,2585,single,1.0,1.0,9070.0,day,1.0,117.0,Portuguese,...,0.0,6.0,NaN,4.0,10.750000,2.0,NaN,NaN,-0.92,Graduate
13,13,2972,single,1.0,3.0,9500.0,day,1.0,135.0,Portuguese,...,0.0,8.0,11.0,NaN,13.258571,0.0,NaN,1.4,1.74,Dropout
14,14,2003,married,39.0,1.0,8014.0,NaN,NaN,120.0,Portuguese,...,0.0,NaN,8.0,6.0,12.857143,0.0,12.4,0.5,1.79,Dropout
15,15,3007,single,7.0,1.0,9119.0,day,1.0,140.8,Portuguese,...,0.0,5.0,0.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
31,31,1384,single,1.0,NaN,9773.0,day,1.0,141.0,Portuguese,...,0.0,6.0,6.0,6.0,14.000000,0.0,NaN,0.6,2.02,Graduate
34,34,2062,single,1.0,1.0,9670.0,day,1.0,126.0,Portuguese,...,0.0,6.0,10.0,5.0,13.600000,0.0,15.5,NaN,-4.06,Graduate
38,38,1981,single,44.0,1.0,9003.0,day,39.0,130.0,Portuguese,...,0.0,6.0,11.0,5.0,11.500000,0.0,15.5,2.8,-4.06,Graduate
49,49,1514,single,18.0,4.0,9085.0,day,1.0,170.0,Portuguese,...,0.0,5.0,6.0,5.0,14.000000,0.0,12.7,3.7,-1.70,Graduate
54,54,1262,single,44.0,1.0,9003.0,day,39.0,150.0,Portuguese,...,NaN,6.0,17.0,NaN,10.571429,0.0,16.2,0.3,-0.92,Graduate
55,55,2175,single,39.0,1.0,9085.0,day,NaN,133.1,Portuguese,...,0.0,6.0,0.0,0.0,0.000000,0.0,11.1,0.6,2.02,Enrolled
58,58,1676,single,39.0,1.0,9991.0,evening,1.0,110.0,Portuguese,...,0.0,5.0,7.0,1.0,12.000000,0.0,10.8,1.4,1.74,Graduate
59,59,1710,single,1.0,1.0,9853.0,day,1.0,146.0,Portuguese,...,0.0,6.0,7.0,5.0,13.400000,0.0,9.4,-0.8,-3.12,Enrolled
61,61,1409,single,39.0,NaN,9003.0,day,1.0,133.1,Portuguese,...,0.0,6.0,6.0,0.0,NaN,0.0,11.1,0.6,2.02,Graduate
64,64,1590,single,43.0,1.0,9070.0,day,1.0,125.0,NaN,...,3.0,9.0,12.0,3.0,12.666667,0.0,12.4,0.5,1.79,Graduate
65,65,2468,single,17.0,1.0,9254.0,day,1.0,125.0,Portuguese,...,0.0,6.0,8.0,6.0,14.428571,0.0,11.1,0.6,NaN,Enrolled
66,66,1162,single,42.0,1.0,NaN,day,1.0,130.0,Portuguese,...,0.0,2.0,2.0,0.0,0.000000,0.0,7.6,2.6,0.32,Dropout
72,72,1235,single,39.0,1.0,9070.0,day,1.0,110.0,Portuguese,...,0.0,6.0,6.0,6.0,13.500000,0.0,11.1,0.6,2.02,Dropout

=== 20 Baris Terakhir ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
2982,2982,1883,single,1.0,1.0,9070.0,day,1.0,124.0,Portuguese,...,0.0,6.0,6.0,6.0,13.166667,0.0,9.4,-0.8,-3.12,Graduate
2983,2983,1379,single,1.0,NaN,9085.0,day,1.0,124.0,Portuguese,...,0.0,6.0,9.0,6.0,13.428571,NaN,16.2,0.3,-0.92,Dropout
2992,2992,2898,single,16.0,3.0,9773.0,day,1.0,138.0,Portuguese,...,0.0,6.0,6.0,6.0,13.000000,0.0,11.1,0.6,2.02,Enrolled
2993,2993,2415,single,1.0,1.0,9070.0,day,1.0,133.1,Portuguese,...,0.0,6.0,6.0,6.0,12.666667,0.0,16.2,0.3,-0.92,Dropout
2997,2997,1835,married,39.0,1.0,8014.0,evening,1.0,130.0,NaN,...,1.0,6.0,15.0,2.0,11.000000,1.0,7.6,2.6,0.32,Dropout
3012,3012,2433,single,17.0,1.0,9147.0,day,1.0,120.0,Portuguese,...,0.0,5.0,7.0,4.0,11.500000,0.0,15.5,2.8,NaN,Graduate
3016,3016,1997,single,17.0,1.0,9500.0,day,1.0,152.0,Portuguese,...,0.0,8.0,8.0,7.0,14.540000,0.0,10.8,1.4,1.74,Enrolled
3018,3018,1039,single,43.0,1.0,9853.0,day,1.0,130.0,Portuguese,...,13.0,19.0,19.0,19.0,12.210526,0.0,12.4,0.5,1.79,Graduate
3023,3023,1090,single,17.0,1.0,NaN,day,1.0,145.0,Portuguese,...,4.0,11.0,16.0,10.0,12.272727,0.0,8.9,1.4,3.51,Enrolled
3027,3027,2465,single,43.0,1.0,9500.0,day,1.0,170.0,NaN,...,0.0,8.0,8.0,8.0,13.750000,0.0,13.9,-0.3,0.79,Graduate
3029,3029,1478,single,17.0,4.0,9500.0,day,1.0,143.0,Portuguese,...,0.0,8.0,8.0,8.0,14.187500,0.0,13.9,-0.3,0.79,Graduate
3038,3038,2259,single,1.0,1.0,9070.0,day,1.0,116.0,Portuguese,...,0.0,6.0,10.0,0.0,0.000000,4.0,7.6,2.6,0.32,Graduate
3041,3041,1470,single,39.0,1.0,9254.0,day,12.0,133.1,Portuguese,...,0.0,6.0,11.0,4.0,11.800000,0.0,9.4,-0.8,-3.12,Dropout
3058,3058,1699,single,39.0,1.0,9991.0,evening,2.0,140.0,Portuguese,...,0.0,5.0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74,Graduate
3059,3059,1729,single,NaN,2.0,9254.0,day,1.0,120.0,Portuguese,...,0.0,6.0,8.0,5.0,11.000000,0.0,12.4,0.5,1.79,Dropout
3062,3062,1366,single,1.0,1.0,9853.0,day,1.0,121.0,Portuguese,...,0.0,6.0,11.0,3.0,10.666667,0.0,9.4,-0.8,-3.12,Graduate
3078,3078,2599,single,1.0,1.0,9085.0,day,1.0,131.0,Portuguese,...,0.0,5.0,5.0,NaN,12.800000,0.0,10.8,1.4,1.74,Dropout
3085,3085,2304,single,17.0,1.0,9238.0,day,NaN,139.0,Portuguese,...,0.0,6.0,7.0,6.0,14.000000,0.0,15.5,2.8,-4.06,Graduate
3089,3089,1573,single,17.0,2.0,171.0,day,1.0,142.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,15.5,2.8,-4.06,Graduate
3093,3093,2103,single,1.0,2.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,8.0,8.0,14.272500,0.0,15.5,2.8,-4.06,Dropout

=== Baris Index 80 - 100 ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
380,380,2650,single,1.0,6.0,9500.0,day,1.0,141.0,Portuguese,...,0.0,8.0,8.0,7.0,14.100000,0.0,10.8,1.4,1.74,Dropout
386,386,1334,single,1.0,1.0,9773.0,day,1.0,120.0,NaN,...,0.0,6.0,15.0,3.0,12.000000,0.0,13.9,-0.3,0.79,Enrolled
396,396,1763,single,43.0,1.0,9556.0,day,1.0,126.0,Portuguese,...,1.0,8.0,10.0,NaN,11.666667,4.0,10.8,NaN,1.74,Graduate
397,397,1574,single,1.0,1.0,9085.0,day,1.0,148.0,Portuguese,...,0.0,6.0,9.0,6.0,14.000000,0.0,15.5,2.8,-4.06,Graduate
408,408,2397,single,17.0,1.0,9254.0,day,1.0,119.0,Portuguese,...,0.0,6.0,NaN,1.0,12.000000,0.0,10.8,1.4,1.74,Graduate
414,414,2918,single,43.0,1.0,9130.0,day,1.0,140.0,Portuguese,...,0.0,6.0,8.0,6.0,15.857143,0.0,13.9,-0.3,0.79,Dropout
422,422,2788,single,1.0,3.0,9254.0,day,1.0,123.0,Portuguese,...,0.0,6.0,6.0,6.0,13.666667,0.0,11.1,0.6,2.02,Enrolled
423,423,1395,single,39.0,1.0,9003.0,day,1.0,110.0,Portuguese,...,0.0,6.0,10.0,0.0,0.000000,0.0,16.2,0.3,-0.92,Dropout
425,425,1072,single,1.0,1.0,9085.0,day,1.0,120.0,Portuguese,...,0.0,5.0,6.0,4.0,11.750000,2.0,9.4,-0.8,-3.12,Graduate
427,427,1488,single,1.0,5.0,9070.0,day,1.0,122.0,Portuguese,...,0.0,6.0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74,Dropout
435,435,1096,single,7.0,1.0,9085.0,day,3.0,150.0,Portuguese,...,0.0,5.0,5.0,0.0,0.000000,0.0,7.6,NaN,0.32,Graduate
439,439,1686,NaN,39.0,1.0,8014.0,evening,1.0,150.0,Portuguese,...,0.0,6.0,NaN,6.0,13.000000,0.0,16.2,0.3,-0.92,Dropout
441,441,3067,single,17.0,6.0,9670.0,day,1.0,110.0,Portuguese,...,0.0,6.0,11.0,4.0,14.250000,0.0,15.5,2.8,-4.06,Dropout
442,442,1864,married,39.0,1.0,8014.0,evening,NaN,120.0,Portuguese,...,0.0,6.0,6.0,6.0,11.666667,0.0,NaN,1.4,1.74,Graduate
449,449,1582,single,17.0,2.0,9556.0,day,1.0,133.1,Portuguese,...,0.0,8.0,8.0,8.0,13.562500,0.0,15.5,2.8,-4.06,Graduate
453,453,2518,single,NaN,1.0,9238.0,day,1.0,NaN,Portuguese,...,0.0,6.0,8.0,6.0,12.285714,0.0,16.2,0.3,-0.92,Graduate
454,454,2410,single,18.0,1.0,9670.0,day,1.0,128.0,Portuguese,...,0.0,6.0,10.0,5.0,14.500000,0.0,11.1,0.6,2.02,Dropout
456,456,1560,single,1.0,1.0,9238.0,day,1.0,125.0,Portuguese,...,0.0,6.0,8.0,5.0,11.000000,0.0,10.8,1.4,1.74,Graduate
461,461,1319,single,17.0,5.0,9500.0,day,1.0,137.0,Portuguese,...,0.0,8.0,9.0,7.0,12.728571,0.0,13.9,NaN,0.79,Dropout
463,463,2492,single,1.0,1.0,9773.0,day,1.0,120.0,Portuguese,...,0.0,6.0,11.0,3.0,11.000000,0.0,7.6,2.6,0.32,Dropout
466,466,1003,single,17.0,1.0,171.0,day,1.0,145.0,Portuguese,...,0.0,0.0,0.0,0.0,0.000000,0.0,11.1,0.6,2.02,Enrolled

In [20]:
# Cek jumlah missing value per kolom
print("=== Jumlah Nilai Hilang Sebelum Imputasi ===")
print(df.isnull().sum())

=== Jumlah Nilai Hilang Sebelum Imputasi ===
Unnamed: 0                                         0
Student Id                                         0
Marital status                                    22
Application mode                                  45
Application order                                 21
Course                                            35
Daytime/evening attendance\t                      14
Previous qualification                            29
Previous qualification (grade)                    15
Nacionality                                       51
Mother's qualification                            28
Father's qualification                            20
Mother's occupation                               14
Father's occupation                               31
Admission grade                                   31
Displaced                                         34
Educational special needs                         29
Debtor                                            26
Tuition fees up to date                           43
Gender                                            50
Scholarship holder                                30
Age at enrollment                                 54
International                                     24
Curricular units 1st sem (credited)               50
Curricular units 1st sem (enrolled)               42
Curricular units 1st sem (evaluations)            14
Curricular units 1st sem (approved)               49
Curricular units 1st sem (grade)                  20
Curricular units 1st sem (without evaluations)    18
Curricular units 2nd sem (credited)               12
Curricular units 2nd sem (enrolled)               20
Curricular units 2nd sem (evaluations)            46
Curricular units 2nd sem (approved)               36
Curricular units 2nd sem (grade)                  13
Curricular units 2nd sem (without evaluations)    34
Unemployment rate                                 31
Inflation rate                                    34
GDP                                               15
Target                                             0
dtype: int64

In [21]:
# Contoh imputasi menggunakan mean untuk kolom numerik
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
imputer_mean = SimpleImputer(strategy='mean')

df[num_cols] = imputer_mean.fit_transform(df[num_cols])

print("=== Jumlah Nilai Hilang Setelah Imputasi ===")
print(df.isnull().sum())

=== Jumlah Nilai Hilang Setelah Imputasi ===
Unnamed: 0                                         0
Student Id                                         0
Marital status                                    22
Application mode                                   0
Application order                                  0
Course                                             0
Daytime/evening attendance\t                      14
Previous qualification                             0
Previous qualification (grade)                     0
Nacionality                                       51
Mother's qualification                             0
Father's qualification                             0
Mother's occupation                                0
Father's occupation                                0
Admission grade                                    0
Displaced                                          0
Educational special needs                          0
Debtor                                             0
Tuition fees up to date                            0
Gender                                             0
Scholarship holder                                 0
Age at enrollment                                  0
International                                      0
Curricular units 1st sem (credited)                0
Curricular units 1st sem (enrolled)                0
Curricular units 1st sem (evaluations)             0
Curricular units 1st sem (approved)                0
Curricular units 1st sem (grade)                   0
Curricular units 1st sem (without evaluations)     0
Curricular units 2nd sem (credited)                0
Curricular units 2nd sem (enrolled)                0
Curricular units 2nd sem (evaluations)             0
Curricular units 2nd sem (approved)                0
Curricular units 2nd sem (grade)                   0
Curricular units 2nd sem (without evaluations)     0
Unemployment rate                                  0
Inflation rate                                     0
GDP                                                0
Target                                             0
dtype: int64

In [22]:
# Contoh penggunaan KNNImputer untuk kolom numerik
# Gunakan jika ingin nilai plus
# imputer_knn = KNNImputer(n_neighbors=3)
# df[num_cols] = imputer_knn.fit_transform(df[num_cols])
# print("=== Setelah KNN Imputation ===")
# print(df.isnull().sum())

In [23]:
# Cek kolom bertipe object
cat_cols = df.select_dtypes(include=['object']).columns
print("Kolom Kategorikal:", cat_cols.tolist())

Kolom Kategorikal: ['Marital status', 'Daytime/evening attendance\t', 'Nacionality', 'Target']

In [24]:
# Gunakan LabelEncoder untuk kolom kategorikal
le = LabelEncoder()
for col in cat_cols:
    df[col] = le.fit_transform(df[col].astype(str))

print("=== Dataset Setelah Label Encoding ===")
df.head()

=== Dataset Setelah Label Encoding ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
2,2.0,2238.0,4,42.0,1.0,9500.000000,0,1.0,120.0,4,...,4.0,8.0,8.0,7.000000,13.285714,0.0,12.70000,3.700000,-1.70,0
3,3.0,2479.0,4,1.0,1.0,8740.316964,0,1.0,141.0,4,...,0.0,6.0,7.0,6.000000,13.142857,0.0,11.10000,0.600000,2.02,0
8,8.0,2484.0,4,1.0,1.0,9773.000000,0,1.0,135.0,4,...,0.0,6.0,7.0,6.000000,12.166667,0.0,11.10000,0.600000,2.02,2
11,11.0,2585.0,4,1.0,1.0,9070.000000,0,1.0,117.0,4,...,0.0,6.0,8.0,4.000000,10.750000,2.0,11.66213,1.200594,-0.92,2
13,13.0,2972.0,4,1.0,3.0,9500.000000,0,1.0,135.0,4,...,0.0,8.0,11.0,4.281669,13.258571,0.0,11.66213,1.400000,1.74,0

In [25]:
print("=== Dataset Final Setelah Preprocessing ===")
display(df.head())
df.info()

# Pastikan tidak ada nilai NaN
print("Jumlah Nilai Hilang:", df.isnull().sum().sum())

=== Dataset Final Setelah Preprocessing ===

,Unnamed: 0,Student Id,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
2,2.0,2238.0,4,42.0,1.0,9500.000000,0,1.0,120.0,4,...,4.0,8.0,8.0,7.000000,13.285714,0.0,12.70000,3.700000,-1.70,0
3,3.0,2479.0,4,1.0,1.0,8740.316964,0,1.0,141.0,4,...,0.0,6.0,7.0,6.000000,13.142857,0.0,11.10000,0.600000,2.02,0
8,8.0,2484.0,4,1.0,1.0,9773.000000,0,1.0,135.0,4,...,0.0,6.0,7.0,6.000000,12.166667,0.0,11.10000,0.600000,2.02,2
11,11.0,2585.0,4,1.0,1.0,9070.000000,0,1.0,117.0,4,...,0.0,6.0,8.0,4.000000,10.750000,2.0,11.66213,1.200594,-0.92,2
13,13.0,2972.0,4,1.0,3.0,9500.000000,0,1.0,135.0,4,...,0.0,8.0,11.0,4.281669,13.258571,0.0,11.66213,1.400000,1.74,0

<class 'pandas.core.frame.DataFrame'>
Index: 707 entries, 2 to 3093
Data columns (total 39 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      707 non-null    float64
 1   Student Id                                      707 non-null    float64
 2   Marital status                                  707 non-null    int64
 3   Application mode                                707 non-null    float64
 4   Application order                               707 non-null    float64
 5   Course                                          707 non-null    float64
 6   Daytime/evening attendance	                     707 non-null    int64
 7   Previous qualification                          707 non-null    float64
 8   Previous qualification (grade)                  707 non-null    float64
 9   Nacionality                                     707 non-null    int64
 10  Mother's qualification                          707 non-null    float64
 11  Father's qualification                          707 non-null    float64
 12  Mother's occupation                             707 non-null    float64
 13  Father's occupation                             707 non-null    float64
 14  Admission grade                                 707 non-null    float64
 15  Displaced                                       707 non-null    float64
 16  Educational special needs                       707 non-null    float64
 17  Debtor                                          707 non-null    float64
 18  Tuition fees up to date                         707 non-null    float64
 19  Gender                                          707 non-null    float64
 20  Scholarship holder                              707 non-null    float64
 21  Age at enrollment                               707 non-null    float64
 22  International                                   707 non-null    float64
 23  Curricular units 1st sem (credited)             707 non-null    float64
 24  Curricular units 1st sem (enrolled)             707 non-null    float64
 25  Curricular units 1st sem (evaluations)          707 non-null    float64
 26  Curricular units 1st sem (approved)             707 non-null    float64
 27  Curricular units 1st sem (grade)                707 non-null    float64
 28  Curricular units 1st sem (without evaluations)  707 non-null    float64
 29  Curricular units 2nd sem (credited)             707 non-null    float64
 30  Curricular units 2nd sem (enrolled)             707 non-null    float64
 31  Curricular units 2nd sem (evaluations)          707 non-null    float64
 32  Curricular units 2nd sem (approved)             707 non-null    float64
 33  Curricular units 2nd sem (grade)                707 non-null    float64
 34  Curricular units 2nd sem (without evaluations)  707 non-null    float64
 35  Unemployment rate                               707 non-null    float64
 36  Inflation rate                                  707 non-null    float64
 37  GDP                                             707 non-null    float64
 38  Target                                          707 non-null    int64
dtypes: float64(35), int64(4)
memory usage: 220.9 KB
Jumlah Nilai Hilang: 0

In [26]:
# Simpan hasil akhir ke file CSV
df.to_csv('/content/NIM_Nama_cleaned.csv', index=False)
print("Dataset final telah disimpan sebagai NIM_Nama_cleaned.csv")

Dataset final telah disimpan sebagai NIM_Nama_cleaned.csv